.reveal .slides section .fragment.highlight-greyed {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.highlight-greyed.visible {
  color: #555555; 
}

.smaller {
  font-size: 65% !important; 
}