.reveal .slides section .fragment.highlight-greyed {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.highlight-greyed.visible {
  color: #555555; 
}

.smaller {
  font-size: 65% !important; 
}

.flag-list {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: #222;
}

.flag-list li {
  width: 15vw;
  margin: 0px;
  list-style-type: none;
}

.flag-list img.flag {
  width: 10vw;
  height: auto;
}

table.layout td {
  border: 0px !important;
}

.square-images img {
  width: 30vh !important;
  height: 30vh !important;
}

.centered {
  text-align: center !important;
}

.head3 {
  font-size: 1.3em !important;
  font-weight: 600 !important;
}

.preformatted {
    font-family: monospace !important;
    white-space: pre !important;
}
